* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

/*quiz entry button styling*/

/*center the quiz entry button*/

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #063b0d;
    color: #fff;
    border: 2px;
    border-color: yellow;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
}

/*basic color scheme*/
body {
    background: rgb(239, 183, 115);
}

/*background image*/



    /*quiz styling*/

.app {
    background: white;
    width: 90%;
    max-width: 600px;

    /* styling for background picture*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ffffff;
    color: #fff;
    border: 2px;
    border-color: yellow;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px
}

.app h1 {
    font-size: 25px;
    color: blueviolet;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: crimson;
    font-weight: 600;
}

.btn {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: crosshair;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: crosshair;
    display: none;
}

.correct {
    background: red;
}

.incorrect {
    background: navy;
}

/*media queries*/

@media screen and (max-width: 765px) {
    .image1 {
        width: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        border-bottom-style: none;
    }

    .button {
        position: absolute;
        
    }
}

@media screen and (min-width: 768px) {

    .image1 {
        width: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        border-bottom-style: none;
    }
}