* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

/*header styling*/

header {
    background-color: #104c27;
    color: #ffffff;
    width: 100%;
    height: 12vh;
    top: 0px;
    position: fixed;
    box-shadow: 0 4px 4px #bbc075;
    z-index: 100;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

/*quiz entry button styling*/
/*center the quiz entry button*/

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #1e6828;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    border: #2ddb44;
}

/*basic color scheme*/

body {
    display: flex;
    justify-content: center;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    min-height: 100vh;
}

/*header title styling*/

h1 {
    
    display: flex;
    justify-content: left;
    margin-left: 10px;
    text-shadow: #c2bfbf;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

/*rules styling*/

.rules {
    color: #ffffff;
    margin-top: 20vh;
    display: flex;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
}

.rulelist {
    padding: 10px;
}

/*footer text styling*/

h3 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

/*footer styling*/

footer {
    background-color: #104c27;
    color: #ffffff;
    width: 100%;
    height: 12vh;
    border-radius: 5px;
    border-color: #ffffff, 4px;
    position: fixed;
    bottom: 0px;
    box-shadow: 8px 4px 4px 4px #bbc075;
}

/*background image*/

img {
    background-size: cover;
    background-repeat: no-repeat;
}

/*quiz styling*/

.app {
    background: white;
    margin-top: 22vh;
    margin-bottom: 22vh;

    /* styling for background picture*/

    z-index: 2;
    background-color: #ffffff;
    color: #fff;
    border: 2px;
    border-color: yellow;
    padding: 10px 20px;
    border-radius: 12px;
}

.app h1 {
    font-size: 25px;
    color: rgb(43, 129, 63);
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: rgb(171, 181, 85);
    font-weight: 600;
    text-align: center;
}

.btn {
    background: white;
    color: #413d3d;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 12px;
    cursor: crosshair;
    transition: all 0.3s;
    max-width: 15rem;
    min-width: 10rem;
}

.btn:hover:not([disabled]) {
    background: #c2bfbf;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#answer-buttons {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next-btn {
    background: #104c27;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: crosshair;
    display: none;
}

.correct {
    background: rgb(121, 211, 121);
    border-radius: 12px;
}

.incorrect {
    background: rgb(204, 90, 90);
    border-radius: 12px;
}

.hide {
    display: none;
}

.unhide {
    display: block;
}


/*media queries*/


@media screen and (max-width: 765px) {
    .image1 {
        width: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        border-bottom-style: none;
        max-height: 1000px;
    }

    .button {
        position: absolute;
    }
}

@media screen and (min-width: 425px) {

    .image1 {
        width: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        border-bottom-style: none;
        min-height: 2000px;
    }

    #answer-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: none;
        justify-content: center;
    }

    h3 {
        margin-left: 15px;
    }
}

@media screen and (min-width: 768px) {

    .image1 {
        width: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        border-bottom-style: none;
        min-height: 2000px;
    }

    #answer-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: none;
        justify-content: center;
    }
}

.answerImg {
    width: 100%;
    border-radius: 20px;
    max-height: 10rem;
    /* min-width: 10rem; */
}